.main {
  margin: 1.5rem auto;
  height: 80vh;
  width: 90%;
  max-width: 65rem;
  background-color: #7fd6f9;
  color: white;
  padding: 15px;
  font-size: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
