.layout {
    display: flex;
    flex-direction: row;
    color: black;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    padding: 2rem;
    border-radius: 6px;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.layout img {
    width: 18vh;
}

.module_item {
    margin-bottom: 80px;
    height: 280px;
    width: 13rem;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    position: relative;
}

.module_item .module_item_header {
    height: 50%;
    width: 100%;
    background-color: whitesmoke;
}

.module_item .module_item_header img {
    width: 100%;
    height: 140%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.module_item:hover {
    cursor: pointer;
}

.module_item .module_item_body {
    position: absolute;
    bottom: 6%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
}

.module_item .module_item_body h4 {
    justify-content: center;
    align-content: center;
    flex-direction: row;
    display: flex;
}

.module_item .module_item_body span {
    display: flex;
    justify-content: center;
}

@media (max-width: 1400px) {
    .module_item {
        margin-bottom: 0px;
        width: 16rem;
    }
}

@media (max-width: 550px) {
    .layout {
        padding: 0rem;
        gap: 0rem;
    }

    .module_item {
        height: 25%;
        width: 100%;
        flex-direction: row;
    }

    .module_item .module_item_header {
        height: 100%;
        width: 50%;
        position: relative;
    }

    .module_item .module_item_header img {
        width: 70%;
        height: 70%;
        position: absolute;
        top:12%;
        left: 50%;
        transform: translateX(-50%);
    }

    .module_item .module_item_body {
        left: 25%;
        top: 25%;
    }

    .module_item .module_item_body_reverse {
        left: 75%;
    }

    .module_item_reverse {
        flex-direction: row-reverse;
    }
}
