.layout {
    display: flex;
    flex-direction: row;
    color: black;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    padding: 2rem;
    border-radius: 6px;
    gap: 2rem;
    flex-wrap: wrap;
}

.layout img {
    width: 18vh;
}

.module_item {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    height: 320px;
    width: 13rem;
    text-align: center;
    overflow: hidden;
}

.module_item .module_item_header {
    height: 50%;
    width: 100%;
    background-color: #7fd6f9;
}

.module_item .module_item_header img{
    object-fit: cover;
}

.module_item:hover {
    cursor: pointer;
}

.module_item .module_item_body h4{
    justify-content: center;
    align-content: center;
    flex-direction: row;
    display: flex;
}

.module_item .module_item_body span{
    display: flex;
    justify-content: center;
}

